* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', open-sans;
}

body {
  margin: 0;
}

header {
  background: #023d6d;
  color: white;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

.container-all{
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container-sub{
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.container-sub button {
  font: inherit;
  background: #023d6d;
  color: white;
  border: 1px solid #023d6d;
  padding: 1rem;
  cursor: pointer;
  width: 3.9rem;
  
}

.container-sub button:focus {
  outline: none;
}

.container-sub button:hover,
.container-sub button:active {
  background: #084f88;
  border-color: #084f88;
}

.container-last button {
  font: inherit;
  background: #023d6d;
  color: white;
  border: 1px solid #023d6d;
  padding: 0.75rem;
  cursor: pointer;
  width: 3.9rem;
  
}

.container-last button:focus {
  outline: none;
}

.container-last button:hover,
.container-last button:active {
  background: #084f88;
  border-color: #084f88;
}

#calc-section{
  justify-content: center;
  text-align: center;
}

#input-num{
  font: inherit;
  font-size: 3rem;
  border: 2px solid #023d6d;
  width: 15.6rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #023d6d;
  text-align: center;
}

#out-num{
  border: 2px solid #023d6d;
  width: 15.6rem;
  height: fit-content;
  text-align: center;
}

#calc-section{
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.my-calc{
  border: 2px solid #023d6d;
  width: 17rem;
  align-items: center;
  box-shadow: 0 2px 2px black;
}

.my-calc-container{
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 24px;
}

#btm-cont{
  margin-bottom: 1rem;
}
